[Unit]
Description=Oneshot service to update blacklists
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/firewalld-blacklist -c /etc/firewalld/firewalld-blacklist.conf
